.App {
  background-color: white;
  
}

.ballot {
 width: 100% !important;
  
}

.golden-header {
  margin: 30px 0px 0px 0px;
  text-transform: uppercase;
  font-size: 20px;
  word-spacing: 3px;
  font-weight: 600;
}

.mainTab {
  width: 85%;
  min-width: 300px !important;
}

@media only screen and (max-width: 900px) {
  .mainTab {
    width: 85%;
    min-width: 300px !important;
  }
}

.categories {
  background-color: #BAC8D3;
  margin: 30px 0px 20px 0px;
  padding: 10px 0px 10px 12px;
  text-transform: capitalize;
  border: 3px solid #23445D;
  font-size: 22px;
}

.App-header {
  background-color: #121212;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.nomineeCard {
  background-color: #dae8fc !important;
  border: 2px solid #6C8EBF;
  transition: all 0.2s ease-in-out !important;
}

.nomineeCard:hover {
  background-color: #d5e8d4 !important;
  transform: scale(1.08,1.08);
}

.selectedNomineeCard {
  background-color: #d5e8d4 !important;
  border: 2px solid #6C8EBF;
  transition: all 0.2s ease-in-out !important;
}

.nomineeImage {
  width: 130px !important;
  height: 130px !important;
  border-radius: 50%;
  margin: 10px 0px 15px 0px;
}

.selectButton {
  background-image: linear-gradient(#f5f5f5, #b3b3b3);
  color: #121212 !important;
  font-weight: 600 !important;
  border: 1px solid black !important;
  font-size: 18px !important;
  text-transform: capitalize !important;
  box-shadow: none !important;
  word-spacing: 4px;
  transition: all 0.2 ease-in-out;
}

.selectButton:hover {
  background-image: linear-gradient(#f5f5f5, #b3b3b7);

}


.bottomStack {
  align-items: center;
  margin: 50px 0px 30px 0px;
  
  
  }

.bottomButton {
  background-image: linear-gradient(#d5e8d4, #97d077);
  color: #121212 !important;
  height: 70px;
  font-size: 20px !important;
  min-width: 350 !important;
  border-radius: 10px !important;
  box-shadow: none !important;
  border: 3px solid #82B366 !important ;
  transition: all 0.2s ease-in-out !important;
  z-index: 10 !important;
  letter-spacing: 1px !important;
  font-weight: 700 !important;
  word-spacing: 3px !important;
}

.bottomButton:hover {
  transform: scale(1.06);
}

.doneIcon {
  position: relative !important;
  top: 5px; left: 10px;
}

